<div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Transactions</li>
      </ol>
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i>Transactions
          </div>
          
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <tr>
                  <th>Type</th>
                  <th>Account</th>
                  <th>Amount</th>
                  <th>Balance</th>
                  <th>Category</th>
                  <th>Description</th>
                  <th>Date</th>
                </tr>
                </tr>
              </thead>
              <tbody>
                  {{#each  userTransactions}}
                <tr>
                  <td>{{Type}}</td>
                  <td>{{Account}} </td>
                  <td>{{Amount}} $</td>
                  <td>{{balance}} $</td>
                  <td>{{Category}}</td>
                  <td>{{Desc}}</td>
                  <td>{{Date}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>